:root {
  --bg: hsl(0, 0%, 100%);
  --fg: hsl(222.2, 84%, 4.9%);

  --card-bg: hsl(0, 0%, 100%);
  --card-text: hsl(222.2, 84%, 4.9%);

  --pop-bg: hsl(0, 0%, 100%);
  --pop-text: hsl(222.2, 84%, 4.9%);

  --pri: hsl(222.2, 47.4%, 11.2%);
  --pri-text: hsl(210, 40%, 98%);

  --sec: hsl(210, 40%, 96.1%);
  --sec-text: hsl(222.2, 47.4%, 11.2%);

  --mut: hsl(210, 40%, 96.1%);
  --mut-text: hsl(215.4, 16.3%, 46.9%);

  --acc: hsl(210, 40%, 96.1%);
  --acc-text: hsl(222.2, 47.4%, 11.2%);

  --des: hsl(0, 84.2%, 60.2%);
  --des-text: hsl(210, 40%, 98%);

  --border: #e2e5ef;
  --input-bg: hsl(214.3, 31.8%, 91.4%);
  --ring-color: hsl(222.2, 84%, 4.9%);

  --radius: 0.5rem;
}

.dark {
  --bg: hsl(222.2, 84%, 4.9%);
  --fg: hsl(210, 40%, 98%);

  --card-bg: hsl(222.2, 84%, 4.9%);
  --card-text: hsl(210, 40%, 98%);

  --pop-bg: #383838;
  --pop-text: var(--fg);

  --pri: #fcfcfc;
  --pri-text: hsl(222.2, 47.4%, 11.2%);

  --sec: hsl(217.2, 32.6%, 17.5%);
  --sec-text: var(--fg);

  --mut: hsl(217.2, 32.6%, 17.5%);
  --mut-text: hsl(215, 20.2%, 65.1%);

  --acc: hsl(217.2, 32.6%, 17.5%);
  --acc-text: var(--fg);

  --des: hsl(0, 62.8%, 30.6%);
  --des-text: var(--fg);

  --border: hsl(240, 3.7%, 15.9%);
  --input-bg: hsl(217.2, 32.6%, 17.5%);
  --ring-color: hsl(212.7, 26.8%, 83.9%);
}

* {
  border-color: var(--border);
}

body {
  background: var(--bg);
  color: var(--fg);
}
